In [93]:
import pandas as pd


# load the data from csv to pandas dataframe
Healthcare_Inpatient_raw  = pd.read_csv('/Users/cuicuisong/Desktop/data/inpatient.csv')
Healthcare_Outpatient_raw= pd.read_csv('/Users/cuicuisong/Desktop/data/outpatient.csv')
Healthcare_Beneficiary_raw = pd.read_csv('/Users/cuicuisong/Desktop/data/beneficiary.csv')
Healthcare_Provider_raw  = pd.read_csv('/Users/cuicuisong/Desktop/data/provider.csv')

#### I. Merge Data

In [94]:
# union/concat/merge the inpatient and outpatient data
concat_df=pd.concat([Healthcare_Inpatient_raw,Healthcare_Outpatient_raw],axis=0)
concat_df.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,...,NaN,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,...,25062,40390,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,...,5119,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN

In [95]:
# merge with beneficiary data
merge_bene_df=concat_df.merge(Healthcare_Beneficiary_raw, on='BeneID', how='left')
merge_bene_df.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,1,1,1,2,1,1,36000,3204,60,70
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,...,1,1,1,2,1,1,36000,3204,60,70
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,...,1,1,1,2,1,1,36000,3204,60,70
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,...,1,1,2,2,1,1,5000,1068,250,320
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,...,1,2,1,2,2,2,21260,2136,120,100

In [96]:
# merge with provider data
merge_provider_df=merge_bene_df.merge(Healthcare_Provider_raw, on = 'Provider', how ='left')
merge_provider_df.drop_duplicates(inplace=True)
merge_provider_df

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,PotentialFraud
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,1,1,2,1,1,36000,3204,60,70,Yes
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,...,1,1,2,1,1,36000,3204,60,70,No
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,...,1,1,2,1,1,36000,3204,60,70,No
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,...,1,2,2,1,1,5000,1068,250,320,No
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,...,2,1,2,2,2,21260,2136,120,100,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558206,BENE159198,CLM510792,2009-08-06,2009-08-06,PRV53699,800,PHY364188,PHY364188,PHY385752,NaN,...,1,2,2,1,2,0,0,5470,1870,No
558207,BENE159198,CLM551294,2009-08-29,2009-08-29,PRV53702,400,PHY423019,PHY332284,NaN,NaN,...,1,2,2,1,2,0,0,5470,1870,No
558208,BENE159198,CLM596444,2009-09-24,2009-09-24,PRV53676,60,PHY361063,NaN,NaN,NaN,...,1,2,2,1,2,0,0,5470,1870,No
558209,BENE159198,CLM636992,2009-10-18,2009-10-18,PRV53689,70,PHY403198,NaN,PHY419379,NaN,...,1,2,2,1,2,0,0,5470,1870,No
558210,BENE159198,CLM686139,2009-11-17,2009-11-18,PRV53689,80,PHY419379,NaN,PHY419379,NaN,...,1,2,2,1,2,0,0,5470,1870,No

#### II. Group by Provider: State, county, IPAnnualReimbursementAmt and IPAnnualDeductibleAmt

In [ ]:
# count of unique state, major state
# create a state-county feature and count of unique values (*double check the value).
# We can join and see if there are duplicate counties betwen states.
# IPAnnualReimbursementAmt and IPAnnualDeductibleAmt: Mean, Max, Sum

###### 1.1. State_unique

In [97]:
statedf= pd.DataFrame(merge_provider_df.groupby(['Provider']).State.nunique())
statedf=statedf.rename(columns={"State": "statecount_uniq"})
statedf

          statecount_uniq
Provider
PRV51001                1
PRV51003                3
PRV51004                9
PRV51005                4
PRV51007                2
...                   ...
PRV57759                1
PRV57760                1
PRV57761                1
PRV57762                1
PRV57763                3

[5410 rows x 1 columns]

In [98]:
provider_scc_df= Healthcare_Provider_raw

In [99]:
# merge statecount_uniq with provider data.
provider_scc_df=provider_scc_df.merge(statedf, on = 'Provider', how ='left')
provider_scc_df

      Provider PotentialFraud  statecount_uniq
0     PRV51001             No                1
1     PRV51003            Yes                3
2     PRV51004             No                9
3     PRV51005            Yes                4
4     PRV51007             No                2
...        ...            ...              ...
5405  PRV57759             No                1
5406  PRV57760             No                1
5407  PRV57761             No                1
5408  PRV57762             No                1
5409  PRV57763             No                3

[5410 rows x 3 columns]

##### 1.2 State_major

In [43]:
#statedf_max= pd.DataFrame(merge_provider_df.groupby(['Provider']).State.max())
#statedf_max=statedf_max.rename(columns={"State": "state_max"})

In [100]:
# count the frequent of state and keep the first row (the most frequent state)
statedf_major= pd.DataFrame(merge_provider_df.groupby(['Provider']).State.apply(lambda x: x.value_counts().head(1))\
               .reset_index())
statedf_major

      Provider  level_1  State
0     PRV51001        1     25
1     PRV51003        1     95
2     PRV51004        1     75
3     PRV51005        1   1148
4     PRV51007        1     66
...        ...      ...    ...
5405  PRV57759       45     28
5406  PRV57760       45     22
5407  PRV57761       10     82
5408  PRV57762       21      1
5409  PRV57763       21    107

[5410 rows x 3 columns]

In [101]:
# drop state count column and rename the level_1 to major_state
statedf_major=statedf_major[['Provider','level_1']]
statedf_major=statedf_major.rename(columns={"level_1": "major_state"})
statedf_major

      Provider  major_state
0     PRV51001            1
1     PRV51003            1
2     PRV51004            1
3     PRV51005            1
4     PRV51007            1
...        ...          ...
5405  PRV57759           45
5406  PRV57760           45
5407  PRV57761           10
5408  PRV57762           21
5409  PRV57763           21

[5410 rows x 2 columns]

In [102]:
# add column state_max to provider data.
provider_scc_df=provider_scc_df.merge(statedf_major, on = 'Provider', how ='left')
provider_scc_df

      Provider PotentialFraud  statecount_uniq  major_state
0     PRV51001             No                1            1
1     PRV51003            Yes                3            1
2     PRV51004             No                9            1
3     PRV51005            Yes                4            1
4     PRV51007             No                2            1
...        ...            ...              ...          ...
5405  PRV57759             No                1           45
5406  PRV57760             No                1           45
5407  PRV57761             No                1           10
5408  PRV57762             No                1           21
5409  PRV57763             No                3           21

[5410 rows x 4 columns]

##### 2.1 County_unique

In [103]:
# combine state and county
merge_provider_df['countyfips']=merge_provider_df['State'].astype(str)+Healthcare_Beneficiary_raw['County'].astype(str)

In [104]:
countydf= pd.DataFrame(merge_provider_df.groupby(['Provider']).County.nunique())
countydf=countydf.rename(columns={"County": "county_uniq"})
countydf

          county_uniq
Provider
PRV51001            7
PRV51003           23
PRV51004           28
PRV51005           26
PRV51007            6
...               ...
PRV57759            2
PRV57760            3
PRV57761            2
PRV57762            1
PRV57763            4

[5410 rows x 1 columns]

In [105]:
# add county_uniq to provider data.
provider_scc_df=provider_scc_df.merge(countydf, on = 'Provider', how ='left')
provider_scc_df

      Provider PotentialFraud  statecount_uniq  major_state  county_uniq
0     PRV51001             No                1            1            7
1     PRV51003            Yes                3            1           23
2     PRV51004             No                9            1           28
3     PRV51005            Yes                4            1           26
4     PRV51007             No                2            1            6
...        ...            ...              ...          ...          ...
5405  PRV57759             No                1           45            2
5406  PRV57760             No                1           45            3
5407  PRV57761             No                1           10            2
5408  PRV57762             No                1           21            1
5409  PRV57763             No                3           21            4

[5410 rows x 5 columns]

##### 2.2 County_major

In [106]:
countydf_major= pd.DataFrame(merge_provider_df.groupby(['Provider']).County.apply(lambda x: x.value_counts().head(1))\
               .reset_index())
countydf_major

      Provider  level_1  County
0     PRV51001      660       6
1     PRV51003      340      24
2     PRV51004      150      22
3     PRV51005      620     471
4     PRV51007      380      34
...        ...      ...     ...
5405  PRV57759      120      18
5406  PRV57760      292      15
5407  PRV57761      410      73
5408  PRV57762      230       1
5409  PRV57763      210     107

[5410 rows x 3 columns]

In [107]:
# drop county count column and rename the level_1 to major_county
countydf_major=countydf_major[['Provider','level_1']]
countydf_major=countydf_major.rename(columns={"level_1": "major_county"})
countydf_major

      Provider  major_county
0     PRV51001           660
1     PRV51003           340
2     PRV51004           150
3     PRV51005           620
4     PRV51007           380
...        ...           ...
5405  PRV57759           120
5406  PRV57760           292
5407  PRV57761           410
5408  PRV57762           230
5409  PRV57763           210

[5410 rows x 2 columns]

In [108]:
# add county_major to provider data.
provider_scc_df=provider_scc_df.merge(countydf_major, on = 'Provider', how ='left')
provider_scc_df

,Provider,PotentialFraud,statecount_uniq,major_state,county_uniq,major_county
0,PRV51001,No,1,1,7,660
1,PRV51003,Yes,3,1,23,340
2,PRV51004,No,9,1,28,150
3,PRV51005,Yes,4,1,26,620
4,PRV51007,No,2,1,6,380
...,...,...,...,...,...,...
5405,PRV57759,No,1,45,2,120
5406,PRV57760,No,1,45,3,292
5407,PRV57761,No,1,10,2,410
5408,PRV57762,No,1,21,1,230
5409,PRV57763,No,3,21,4,210

#### 3. IPAnnualReimbursementAmt
##### 3.1 sum_IPAnnualReimbursementAmt

In [109]:
IPAnnualReimbursementAmtdf = pd.DataFrame(merge_provider_df.groupby(['Provider']).IPAnnualReimbursementAmt.sum())  
IPAnnualReimbursementAmtdf=IPAnnualReimbursementAmtdf.rename(columns={"IPAnnualReimbursementAmt": "sum_IPAnnualReimbursementAmt"})
IPAnnualReimbursementAmtdf

          sum_IPAnnualReimbursementAmt
Provider
PRV51001                        440150
PRV51003                        999000
PRV51004                        648430
PRV51005                       4221950
PRV51007                        219600
...                                ...
PRV57759                        110940
PRV57760                         61280
PRV57761                        576180
PRV57762                         15000
PRV57763                        424710

[5410 rows x 1 columns]

In [110]:
provider_scc_df=provider_scc_df.merge(IPAnnualReimbursementAmtdf, on = 'Provider', how ='left')
provider_scc_df

,Provider,PotentialFraud,statecount_uniq,major_state,county_uniq,major_county,sum_IPAnnualReimbursementAmt
0,PRV51001,No,1,1,7,660,440150
1,PRV51003,Yes,3,1,23,340,999000
2,PRV51004,No,9,1,28,150,648430
3,PRV51005,Yes,4,1,26,620,4221950
4,PRV51007,No,2,1,6,380,219600
...,...,...,...,...,...,...,...
5405,PRV57759,No,1,45,2,120,110940
5406,PRV57760,No,1,45,3,292,61280
5407,PRV57761,No,1,10,2,410,576180
5408,PRV57762,No,1,21,1,230,15000
5409,PRV57763,No,3,21,4,210,424710

##### 3.2 mean_IPAnnualReimbursementAmt

In [111]:
IPAnnualReimbursementAmtdf_mean = pd.DataFrame(merge_provider_df.groupby(['Provider']).IPAnnualReimbursementAmt.mean())  
IPAnnualReimbursementAmtdf_mean = IPAnnualReimbursementAmtdf_mean.rename(columns={"IPAnnualReimbursementAmt": "mean_IPAnnualReimbursementAmt"})
IPAnnualReimbursementAmtdf_mean

          mean_IPAnnualReimbursementAmt
Provider
PRV51001                   17606.000000
PRV51003                    7568.181818
PRV51004                    4351.879195
PRV51005                    3623.991416
PRV51007                    3050.000000
...                                 ...
PRV57759                    3962.142857
PRV57760                    2785.454545
PRV57761                    7026.585366
PRV57762                   15000.000000
PRV57763                    3599.237288

[5410 rows x 1 columns]

In [112]:
provider_scc_df=provider_scc_df.merge(IPAnnualReimbursementAmtdf_mean, on = 'Provider', how ='left')
provider_scc_df

,Provider,PotentialFraud,statecount_uniq,major_state,county_uniq,major_county,sum_IPAnnualReimbursementAmt,mean_IPAnnualReimbursementAmt
0,PRV51001,No,1,1,7,660,440150,17606.000000
1,PRV51003,Yes,3,1,23,340,999000,7568.181818
2,PRV51004,No,9,1,28,150,648430,4351.879195
3,PRV51005,Yes,4,1,26,620,4221950,3623.991416
4,PRV51007,No,2,1,6,380,219600,3050.000000
...,...,...,...,...,...,...,...,...
5405,PRV57759,No,1,45,2,120,110940,3962.142857
5406,PRV57760,No,1,45,3,292,61280,2785.454545
5407,PRV57761,No,1,10,2,410,576180,7026.585366
5408,PRV57762,No,1,21,1,230,15000,15000.000000
5409,PRV57763,No,3,21,4,210,424710,3599.237288

#####  3.3 max_IPAnnualReimbursementAmt

In [113]:
IPAnnualReimbursementAmtdf_max = pd.DataFrame(merge_provider_df.groupby(['Provider']).IPAnnualReimbursementAmt.max())  
IPAnnualReimbursementAmtdf_max = IPAnnualReimbursementAmtdf_max.rename(columns={"IPAnnualReimbursementAmt": "max_IPAnnualReimbursementAmt"})
IPAnnualReimbursementAmtdf_max

          max_IPAnnualReimbursementAmt
Provider
PRV51001                        143800
PRV51003                         57000
PRV51004                         51500
PRV51005                        144000
PRV51007                         24600
...                                ...
PRV57759                         29000
PRV57760                          7160
PRV57761                         75000
PRV57762                         15000
PRV57763                         57000

[5410 rows x 1 columns]

In [114]:
provider_scc_df=provider_scc_df.merge(IPAnnualReimbursementAmtdf_max, on = 'Provider', how ='left')
provider_scc_df

,Provider,PotentialFraud,statecount_uniq,major_state,county_uniq,major_county,sum_IPAnnualReimbursementAmt,mean_IPAnnualReimbursementAmt,max_IPAnnualReimbursementAmt
0,PRV51001,No,1,1,7,660,440150,17606.000000,143800
1,PRV51003,Yes,3,1,23,340,999000,7568.181818,57000
2,PRV51004,No,9,1,28,150,648430,4351.879195,51500
3,PRV51005,Yes,4,1,26,620,4221950,3623.991416,144000
4,PRV51007,No,2,1,6,380,219600,3050.000000,24600
...,...,...,...,...,...,...,...,...,...
5405,PRV57759,No,1,45,2,120,110940,3962.142857,29000
5406,PRV57760,No,1,45,3,292,61280,2785.454545,7160
5407,PRV57761,No,1,10,2,410,576180,7026.585366,75000
5408,PRV57762,No,1,21,1,230,15000,15000.000000,15000
5409,PRV57763,No,3,21,4,210,424710,3599.237288,57000

#### 4. IPAnnualDeductibleAmt:Sum, Mean, Max
##### 4.1 Sum_IPAnnualDeductibleAmt

In [115]:
IPAnnualDeductibleAmtdf = pd.DataFrame(merge_provider_df.groupby(['Provider']).IPAnnualDeductibleAmt.sum())  
IPAnnualDeductibleAmtdf = IPAnnualDeductibleAmtdf.rename(columns={"IPAnnualDeductibleAmt": "sum_IPAnnualDeductibleAmtdf"})
IPAnnualDeductibleAmtdf

          sum_IPAnnualDeductibleAmtdf
Provider
PRV51001                        22428
PRV51003                       122948
PRV51004                        64808
PRV51005                       441724
PRV51007                        32040
...                               ...
PRV57759                        12816
PRV57760                         9612
PRV57761                        48060
PRV57762                         1068
PRV57763                        71148

[5410 rows x 1 columns]

In [116]:
provider_scc_df= provider_scc_df.merge(IPAnnualDeductibleAmtdf, on = 'Provider', how ='left')
provider_scc_df

,Provider,PotentialFraud,statecount_uniq,major_state,county_uniq,major_county,sum_IPAnnualReimbursementAmt,mean_IPAnnualReimbursementAmt,max_IPAnnualReimbursementAmt,sum_IPAnnualDeductibleAmtdf
0,PRV51001,No,1,1,7,660,440150,17606.000000,143800,22428
1,PRV51003,Yes,3,1,23,340,999000,7568.181818,57000,122948
2,PRV51004,No,9,1,28,150,648430,4351.879195,51500,64808
3,PRV51005,Yes,4,1,26,620,4221950,3623.991416,144000,441724
4,PRV51007,No,2,1,6,380,219600,3050.000000,24600,32040
...,...,...,...,...,...,...,...,...,...,...
5405,PRV57759,No,1,45,2,120,110940,3962.142857,29000,12816
5406,PRV57760,No,1,45,3,292,61280,2785.454545,7160,9612
5407,PRV57761,No,1,10,2,410,576180,7026.585366,75000,48060
5408,PRV57762,No,1,21,1,230,15000,15000.000000,15000,1068
5409,PRV57763,No,3,21,4,210,424710,3599.237288,57000,71148

##### 4.2 mean_IPAnnualDeductibleAmt

In [117]:
IPAnnualDeductibleAmtdf_mean = pd.DataFrame(merge_provider_df.groupby(['Provider']).IPAnnualDeductibleAmt.mean())  
IPAnnualDeductibleAmtdf_mean=IPAnnualDeductibleAmtdf_mean.rename(columns={"IPAnnualDeductibleAmt": "mean_IPAnnualDeductibleAmt"})
IPAnnualDeductibleAmtdf_mean

          mean_IPAnnualDeductibleAmt
Provider
PRV51001                  897.120000
PRV51003                  931.424242
PRV51004                  434.953020
PRV51005                  379.162232
PRV51007                  445.000000
...                              ...
PRV57759                  457.714286
PRV57760                  436.909091
PRV57761                  586.097561
PRV57762                 1068.000000
PRV57763                  602.949153

[5410 rows x 1 columns]

In [118]:
provider_scc_df= provider_scc_df.merge(IPAnnualDeductibleAmtdf_mean, on = 'Provider', how ='left')
provider_scc_df

,Provider,PotentialFraud,statecount_uniq,major_state,county_uniq,major_county,sum_IPAnnualReimbursementAmt,mean_IPAnnualReimbursementAmt,max_IPAnnualReimbursementAmt,sum_IPAnnualDeductibleAmtdf,mean_IPAnnualDeductibleAmt
0,PRV51001,No,1,1,7,660,440150,17606.000000,143800,22428,897.120000
1,PRV51003,Yes,3,1,23,340,999000,7568.181818,57000,122948,931.424242
2,PRV51004,No,9,1,28,150,648430,4351.879195,51500,64808,434.953020
3,PRV51005,Yes,4,1,26,620,4221950,3623.991416,144000,441724,379.162232
4,PRV51007,No,2,1,6,380,219600,3050.000000,24600,32040,445.000000
...,...,...,...,...,...,...,...,...,...,...,...
5405,PRV57759,No,1,45,2,120,110940,3962.142857,29000,12816,457.714286
5406,PRV57760,No,1,45,3,292,61280,2785.454545,7160,9612,436.909091
5407,PRV57761,No,1,10,2,410,576180,7026.585366,75000,48060,586.097561
5408,PRV57762,No,1,21,1,230,15000,15000.000000,15000,1068,1068.000000
5409,PRV57763,No,3,21,4,210,424710,3599.237288,57000,71148,602.949153

##### 4.3 max_IPAnnualDeductibleAmt

In [119]:
IPAnnualDeductibleAmtdf_max = pd.DataFrame(merge_provider_df.groupby(['Provider']).IPAnnualDeductibleAmt.max())  
IPAnnualDeductibleAmtdf_max=IPAnnualDeductibleAmtdf_max.rename(columns={"IPAnnualDeductibleAmt": "max_IPAnnualDeductibleAmt"})
IPAnnualDeductibleAmtdf_max

          max_IPAnnualDeductibleAmt
Provider
PRV51001                       4272
PRV51003                       7208
PRV51004                       7136
PRV51005                       7136
PRV51007                       3204
...                             ...
PRV57759                       2136
PRV57760                       1068
PRV57761                       5340
PRV57762                       1068
PRV57763                       7068

[5410 rows x 1 columns]

In [120]:
provider_scc_df= provider_scc_df.merge(IPAnnualDeductibleAmtdf_max, on = 'Provider', how ='left')
provider_scc_df

,Provider,PotentialFraud,statecount_uniq,major_state,county_uniq,major_county,sum_IPAnnualReimbursementAmt,mean_IPAnnualReimbursementAmt,max_IPAnnualReimbursementAmt,sum_IPAnnualDeductibleAmtdf,mean_IPAnnualDeductibleAmt,max_IPAnnualDeductibleAmt
0,PRV51001,No,1,1,7,660,440150,17606.000000,143800,22428,897.120000,4272
1,PRV51003,Yes,3,1,23,340,999000,7568.181818,57000,122948,931.424242,7208
2,PRV51004,No,9,1,28,150,648430,4351.879195,51500,64808,434.953020,7136
3,PRV51005,Yes,4,1,26,620,4221950,3623.991416,144000,441724,379.162232,7136
4,PRV51007,No,2,1,6,380,219600,3050.000000,24600,32040,445.000000,3204
...,...,...,...,...,...,...,...,...,...,...,...,...
5405,PRV57759,No,1,45,2,120,110940,3962.142857,29000,12816,457.714286,2136
5406,PRV57760,No,1,45,3,292,61280,2785.454545,7160,9612,436.909091,1068
5407,PRV57761,No,1,10,2,410,576180,7026.585366,75000,48060,586.097561,5340
5408,PRV57762,No,1,21,1,230,15000,15000.000000,15000,1068,1068.000000,1068
5409,PRV57763,No,3,21,4,210,424710,3599.237288,57000,71148,602.949153,7068

In [122]:
provider_scc_df.to_csv('/Users/cuicuisong/Desktop/data/provider_scc_df.csv')